.padding-bottom
{
    padding-bottom: 20px;

}
.photo{width: 350px; 
    height: 233px;
}  
.padding-top{ 
padding-top:15px} 
.container{
    margin-left: 39px;
    margin-right: 350px;
    width: 1000% ;
}