<nav class="navbar navbar-light bg-light " style="padding-right: 16px;padding-bottom: 23px">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="collapse  bg-light navbar-left  " id="navbarToggleExternalContent"  >
  <ul class="navbar-nav mr-auto ">
    <li class="nav-item ">
      <a class="nav-link" routerLink="/settings"  routerLinkActive="reglage" style="border-left-width: 20px;
            margin-left: 15px; ">SETTINGS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/help"  routerLinkActive="help" style="border-left-width: 20px;
            margin-left: 15px;">HELP</a>
    </li>       
  </ul>  
</div>