<!-- <div class="losange">
    <p>
    <span class="border border-danger"> LAMPE </span>
  </p>
  </div>-->  
 <!-- <a class="service_icons" class ="logo">
      <div class="service_icons">-->
    
  <!--</div>-->
 <!-- </a>-->
 
    
<div class="frame">
  <div class="box"><a class="nav-link" routerLink="/houseRooms"  routerLinkActive="active">
  <img src="assets/icons/house_sync.png" alt="Home" class="img-Home" style="width: 200px"></a>
</div>

<div class = "interior">
  <div class="plugframe"><a routerLink="/plugs"  routerLinkActive="active">
    <img src="assets/icons/plug_off.png" alt="plugoff" class="img-plugoff">
    </a>
  </div>
  <div class="lightingyellowframe"><a routerLink="/lightingyellow" routerLinkActive="active">
    <img src="assets/icons/lighting_yellow.png" alt="lighting_yellow" class="img-lightingyellow">
    </a>
  </div>
  <div class="jalousieframe"><a routerLink="/jalousie"  routerLinkActive="active">
    <img src="assets/icons/jalousie.png" alt="jalousie" class="img-jalousie">
    </a>
  </div>
  <div class="house_coldframe"><a routerLink="/house_cold"  routerLinkActive="active">
    <img src="assets/icons/house_cold.png" alt="house_cold" class="img-house_cold">
    </a>
  </div>
  <div class="house_warmframe"><a routerLink="/house_warm"  routerLinkActive="active">
    <img src="assets/icons/house_warm.png" alt="house_warm" class="img-house_warm">
    </a>
  </div>
</div>
<div class = "exterior">
  <div class="surveillance-video-cameraframe"><a routerLink="/camerasurveillance"  routerLinkActive="active">
    <img src="assets/icons/surveillance-video-camera.png" alt="surveillance-video-camera" class="img-surveillance-video-camera">
  </a>
  </div>
  <div class="sirenframe"><a routerLink="/siren"  routerLinkActive="active">
    <img src="assets/icons/siren.png" alt="siren" class="img-siren">
    </a>
  </div>
  <div class="padlockframe"><a routerLink="/padlock"  routerLinkActive="active">
    <img src="assets/icons/padlock.png" alt="padlock" class="img-padlock">
    </a> 
  </div>
  <div class="garageframe"><a routerLink="/garage"  routerLinkActive="active">
    <img src="assets/icons/garage.png" alt="garage" class="img-garage">
    </a>
  </div>
  <div class="intercomframe"><a routerLink="/intercom"  routerLinkActive="active">
    <img src="assets/icons/intercom.png" alt="intercom" class="img-intercom">
    </a> 
  </div>
</div>
</div>
 <!-- <span class="border border-danger"> VOLET ROULANT </span> 
 <span class="border border-danger"> CAMERA SURVEILLANCE </span> -->

