<div class="container" >

  <div class="row justify-content-start  ">
      <div class="col-md-4 offset-md-0.2">
        <div class="thumbnail  padding-top">
        
          <img src="assets/rooms/entree 1_1.jpg " class="padding-bottom" alt="Nature" style="width:100%">
          
        
      </div></div>
      <div class="col-md-4 offset-md-0.2"><div class="thumbnail padding-top">
        
          <img src="assets/rooms/salon 1_2.jpg" alt="Nature" style="width:100%">
          
        
      </div></div>
      <div class="col-md-4 offset-md-0.2"><div class="thumbnail padding-top">
        
          <img src="assets/rooms/terrace 1_3.jpg" alt="Nature" style="width:100%">
          
        
      </div></div>
    
    
    
    
    </div>
  
  
  
  
    <div class="row justify-content-center">
        <div class="col-md-4 offset-md-0.2">
            <div class="thumbnail padding-bottom  ">
            
              <img src="assets/rooms/room1 2_1.jpg" alt="Nature" class="photo">
              
            
          </div></div>
          <div class="col-md-4 offset-md-0.2"><div class="thumbnail">
            
              <img src="assets/rooms/bedrrom2 2_2.jpg" alt="Nature" class="photo">
              <div class="caption"></div>
            
          </div></div>
          <div class="col-md-4 offset-md-0.2"><div class="thumbnail">
            
              <img src="assets/rooms/salledebain 2_3.jpg" alt="Nature"class="photo">
             
            
          </div></div>
    </div>
    <div class="row ">
        <div class="col-md-4">
            <div class="thumbnail padding-bottom ">
            
              <img src="assets/rooms/cuisine 3_1.png" alt="Nature" class="photo">
              
            
          </div></div>
          <div class="col-md-4 offset-md-0.2"><div class="thumbnail">
            
              <img src="assets/rooms/salleamanger  3_2.jpg" alt="Nature" class="photo">
              
            
          </div></div>
          <div class="col-md-4 offset-md-0.2"><div class="thumbnail">
            
              <img src="assets/rooms/plan 3_3.jpg" alt="Nature" class="photo">
              
            
          </div></div>
    </div>
  </div>